<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de ONG</title>
</head>
<body>
    <form action="/registerNgo" method="post">
        <label for="cnpj">CNPJ:</label>
        <input type="text" id="cnpj" name="cnpj" required><br>
        
        <label for="stateRegistration">State Registration:</label>
        <input type="text" id="stateRegistration" name="stateRegistration" required><br>
        
        <label for="corporateReason">Corporate Reason:</label>
        <input type="text" id="corporateReason" name="corporateReason" required><br>
        
        <label for="emailNgo">Email:</label>
        <input type="email" id="emailNgo" name="emailNgo" required><br>
        
        <label for="phoneNumberNgo">Phone Number:</label>
        <input type="text" id="phoneNumberNgo" name="phoneNumberNgo" required><br>
        
        <label for="physicalAddress">Physical Address:</label>
        <input type="text" id="physicalAddress" name="physicalAddress" required><br>
        
        <label for="objectiveOfTheNgo">Objective of the NGO:</label>
        <input type="text" id="objectiveOfTheNgo" name="objectiveOfTheNgo" required><br>
        
        <label for="pageName">Page Name:</label>
        <input type="text" id="pageName" name="pageName" required><br>
        
        <label for="imageNgo">Image NGO:</label>
        <input type="text" id="imageNgo" name="imageNgo" required><br>
        
        <label for="bgImageNgo">Background Image NGO:</label>
        <input type="text" id="bgImageNgo" name="bgImageNgo" required><br>
        
        <label for="registeringUser">Registering User (UserName):</label>
        <input type="text" id="registeringUser" name="registeringUser" required><br>
        
        <button type="submit">Register ONG</button>
    </form>
</body>
</html>
